<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Entrada - Finance App</title>
    
    <!--** CDN Referências **-->
    <%- include(process.cwd() + '/views/Partials/Cdn.ejs') %>
</head>
<body style="background-color: rgb(194, 194, 194);">
    <div class="container-fluid container p-2 bg-white rounded w-50" style="position: relative; top: 50%; transform: translateY(20%);">
        <h1 class="text-center">Nova Entrada</h1>
        
        <div class="row d-flex justify-content-center ">
            <div class="col-md-12 offset-md-4">
                <form  method="POST" action="/contas/create">
                    <div class="row mb-2">
                        <div class="form-group col-sm-8">
                            <label for="id" class="control-label">ID</label>
                            <input id="id" class="form-control" name="id" value="<%= id %>" readonly/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-sm-4">
                            <label for="descricao" class="control-label">Descrição</label>
                            <input id="descricao" class="form-control" name="descricao"/>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="status" class="">Status</label>
                            <select id="status" class="form-control" name="status" type="checkbox">
                                <option value='E'>Entrada</option>
                                <option value='S'>Saida</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">  
                        <div class="form-group col-sm-4">
                            <label for="banco" class="control-label">Banco</label>
                            <input id="banco" class="form-control" name="banco"/>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="valor" class="control-label">Valor</label>
                            <input id="valor" class="form-control" name="valor" required/>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <input type="submit" value="Gravar" class="btn btn-primary" />
                        <a href='/contas' class="btn btn-secondary">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--** Scripts **-->
    <script>
        //***** Chamada dos tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>